* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    border-box: box-sizing;
}

.navbar-detail {
    width: 100%;
    height: 120px;
    background-color: transparent;
    box-sizing: border-box;
    display: flex;
}

.logo-detail {
    background-color: #D9D9D9;
    width: 120px;
    height: 80px;
    transform: translate(20px, 20px);
}

.detail-garis {
    height: 80px;
    width: 1px;
    background-color: black;
    transform: translate(40px, 20px);
}

.jdl {
    transform: translateX(60px);
}

.jdl p {
    font-size: 30px;
    font-family: Quicksand;
    font-weight: 700;
    transform: translateY(35px);
}

.status {
    /* background-color: pink; */
    width: 800px;
    height: 50px;
    transform: translate(500px, 30px);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.status-order {
    /* background-color: yellow; */
    width: 255px;
    height: 40px;
    display: flex;
    font-weight: 900;
}

.payment-order {
    /* background-color: blueviolet; */
    width: 255px;
    height: 40px;
    display: flex;
    font-weight: 700;
}

.complete-order {
    /* background-color: green; */
    width: 255px;
    height: 40px;
    display: flex;
    font-weight: 700;
}

.elipse {
    background-color: #FF7474;
    color: #B73B3B;
    width: 30px;
    height: 30px;
    font-size: 25px;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(5px);
}

.elipse1 {
    background-color: #8DECA2;
    color: #0FA958;
    padding-top: 14px;
    width: 30px;
    height: 30px;
    font-size: 20px;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(5px);
}


.elipse p {
    margin-top: 9px;
}

.or_txt {
    transform: translate(2px, 5px);
    font-size: 20px;
    font-weight: 800;
    font-family: quicksand;
}

.titik1 {
    display: flex;
    gap: 6px;
    transform: translate(15px, 20px);
}

.titik2 {
    display: flex;
    gap: 6px;
    transform: translate(7px, 20px);
}

.titik3 {
    display: flex;
    gap: 6px;
    transform: translate(7px, 20px);
}

.titik {
    width: 12px;
    height: 2px;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.462);
}

.garis-nav {
    height: 1px;
    width: 100%;
    background-color: black;
}




/* kiri */
.left-content {
    /* background-color: pink; */
    width: 50%;
    height: 1200px;
}

.summary {
    /* background-color: yellow; */
    width: 450px;
    height: 100px;
    transform: translate(60px, 70px);
}

.jdl-sm {
    font-family: quicksand;
    font-weight: 800;
}

.desc-sm {
    color: #707070;
    font-family: quicksand;
    font-weight: 800;
}

.cart {
    background-color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    width: 700px;
    height: 680px;
    transform: translate(60px, 55px);
    border-radius: 10px;
}

.item-cart {
    width: 1500px;
    height: 150px;
    display: flex;
    /* background-color:green; */
    margin-top: 20px;
    margin-bottom: 15px;
}

.foto-cart {
    width: 100px;
    height: 100px;
    background-color: #D9D9D9;
    transform: translate(20px, 20px);
}

.category-cart {
    transform: translate(35px, 20px);
    color: rgba(0, 0, 0, 0.238);
    font-weight: 600;
    font-size: 15px;
}

.name {
    transform: translate(-82px, 40px);
    display: flex;
}

.pro-name {
    font-family: quicksand;
    font-weight: 900;
}

.p1 {
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #77A4FF;
    border-radius: 5px;
    width: 70px;
    height: 20px;
    margin-left: 10px;
    transform: translateY(5px);
    font-weight: 900;
    font-family: quicksand;
    color: white;
}

.p2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 30px;
    /* background-color: pink; */
    margin-left: 20px;
}

.p3 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 30px;
    /* background-color: pink; */
    margin-left: 5px;
}

.p4 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 30px;
    /* background-color: pink; */
    margin-left: 5px
}

.harga-cart {
    transform: translate(-600px, 70px);
}

.elp {
    width: 40px;
    height: 40px;
    border-radius: 100px;
    background-color: #D9D9D9;
    transform: translate(-690px, 100px);
}

.name-prof {
    transform: translate(-645px, 68px);
}

.sub {
    display: flex;
}

.unit-price {
    transform: translate(-420px, 29px);
    width: 80px;
    height: 30px;
    /* background-color: pink; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.qty {
    margin-left: 5px;
    transform: translate(-420px, 29px);
    width: 80px;
    height: 30px;
    /* background-color: pink; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.total {
    margin-left: 5px;
    transform: translate(-420px, 29px);
    width: 80px;
    height: 30px;
    /* background-color: pink; */
    display: flex;
    justify-content: center;
    align-items: center;
}


.tota {
    font-family: quicksand;
    font-weight: 900;
    transform: translatex(20px);
}

.prdc {
    color: #0000006c;
    font-family: quicksand;
    font-weight: 900;
    transform: translate(150px, 50px);
}

.prc {
    font-family: quicksand;
    font-weight: 900;
    transform: translate(160px, 45px);
}

.me-3 {
    transform: translate(60px, 95px);
    font-family: quicksand;
    font-weight: 900;
}

.m-opsi {
    display: flex;
    margin-bottom: 20px;
    background-color: transparent;
    border: 1px solid black;
    border-radius: 10px;
    width: 700px;
    height: 90px;
    transform: translate(60px, 110px);
}

.desk {
    margin-left: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.me-desk-3 {
    font-family: quicksand;
    font-weight: 900;
}

.me-desk-5 {
    margin-left: 20px;
    font-family: quicksand;
    color: rgba(0, 0, 0, 0.433);
    font-weight: 900;
}

.choose {
    transform: translate(200px, 30px);
    width: 30px;
    height: 30px;
}

.choose1 {
    transform: translate(240px, 30px);
    width: 30px;
    height: 30px;
}






/* right content */
.right-content {
    /* background-color: yellow; */
    width: 50%;
    height: 639px;
}

.det-pay {
    width: 450px;
    height: 100px;
    transform: translate(60px, 70px);
}

.det-2 {
    font-weight: 900;
    font-family: quicksand;
}

.det-p {
    color: #707070;
    font-family: quicksand;
    font-weight: 800;
}

.email {
    width: 700px;
    height: 150px;
    transform: translate(60px, 60px);
}

.em-3 {
    font-weight: 900;
    font-family: quicksand;
}

.ema-i {
    display: flex;
    justify-content: center;
    padding-left: 20px;
    font-weight: 900;
    font-size: 22px;
    font-family: quicksand;
    width: 650px;
    height: 80px;
    background-color: transparent;
    border: 1px solid #777777;
    border-radius: 10px;
}

.receiver {
    width: 700px;
    height: 150px;
    transform: translate(60px, 60px);
}

.re-3 {
    ont-weight: 900;
    font-family: quicksand;
}

.re-i {
    display: flex;
    justify-content: center;
    padding-left: 20px;
    font-weight: 900;
    font-size: 22px;
    font-family: quicksand;
    width: 650px;
    height: 80px;
    background-color: transparent;
    border: 1px solid #777777;
    border-radius: 10px;
}

.address {
    width: 700px;
    height: 200px;
    transform: translate(60px, 60px);
}

.add-3 {
    font-weight: 900;
    font-family: quicksand;
}

.add-i {
    padding-left: 20px;
    font-weight: 900;
    font-size: 22px;
    font-family: quicksand;
    width: 650px;
    height: 160px;
    background-color: transparent;
    border: 1px solid #777777;
    border-radius: 10px;
}

.payment {
    width: 700px;
    height: 400px;
    transform: translate(60px, 90px);
}

.cho-met1 {
    display: flex;
    padding-left: 20px;
    font-weight: 900;
    font-size: 22px;
    font-family: quicksand;
    width: 650px;
    height: 90px;
    background-color: transparent;
    border: 1px solid #777777;
    border-radius: 10px;
}

.cho-3 {
    padding-top: 30px;
    padding-left: 170px;
    font-weight: 900;
}

.cho-met2 {
    display: flex;
    padding-left: 20px;
    margin-top: 20px;
    font-weight: 900;
    font-size: 22px;
    font-family: quicksand;
    width: 650px;
    height: 90px;
    background-color: transparent;
    border: 1px solid #777777;
    border-radius: 10px;
}

.ch-3 {
    padding-top: 30px;
    padding-left: 140px;
    font-weight: 900;
}



.btn-cont {
    width: 655px;
    height: 50px;
    background-color: #5874AF;
    transform: translate(-2px, 25px);
    border: none;
    border-radius: 5px;
}

.btn-cont:hover {
    background-color: transparent;
    color: #5874AF;
    border: 1px solid black;
    color: black;
}

.a-cont {
    text-decoration: none;
    color: aliceblue;
    font-weight: 800;
    font-family: quicksand;
    font-size: 20px;
}

.a-cont:hover {
    color: black;
}

.btn-can {
    width: 655px;
    height: 50px;
    background-color: transparent;
    transform: translate(-2px, 30px);
    border-radius: 5px;
}

.btn-can:hover {
    background-color: #5874AF;
    color: aliceblue;
    border: none;
}

.a-can {
    text-decoration: none;
    color: black;
    font-weight: 800;
    font-family: quicksand;
    font-size: 20px;
}

.a-can:hover {
    color: aliceblue;
}