* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

input {
    border-radius: 3px;
    border: 1px rgba(0, 0, 0, 0.5) solid;
}

textarea {
    border-radius: 3px;
    border: 1px rgba(0, 0, 0, 0.5) solid;
}

nav {
    position: relative;
    top: 2vw;
    height: fit-content;
    box-shadow: .1vh .1vh .5vh #5874af77;
}

.nvbr {
    width: 100%;
    height: 7vh;
    position: fixed;
    top: -0.5vh;
}

.navbar {
    height: 70px;
    margin-top: 10px;
}

.nav-link {
    position: relative;
    color: #333333;
    z-index: 5;
}

.nav-link:hover {
    position: relative;
    color: #000000;
    z-index: 5;
}

.nav-link:active {
    position: relative;
    color: #000000;
    z-index: 5;
    background-color: transparent;
}

.logo {
    width: 100%;
    position: absolute;
    z-index: 1;
}

.logo img {
    width: 200px;
    height: 40px;
}

.title {
    width: fit-content;
    margin: 0vw auto 0px auto;
    position: relative;
    z-index: 2;
    text-align: center;
    margin-top: -5%;
}

.title img {
    width: 10vw;
    height: 9.5vh;
}

.search-web {
    margin-top: 0.5%;
    margin-left: 2%;
    position: relative;
    z-index: 2;
}

.layout-search {
    display: flex;
}

#search-web {
    width: 250px;
    height: 35px;
    background: #ffffff;
    border: 0.1vh solid #9f9f9f;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    padding-left: 6%;
    padding-right: 6%;
    font-size: 1.125vw;
    box-sizing: border-box;
    box-shadow: .1vh .1vh .3vh #a1a1a177;
    font-size: 16px;
    font-family: 'Poppins';
}

.search-web i {
    margin-left: -15%;
    font-size: 16px;
    color: rgb(255, 255, 255);
}

.layout-search button {
    width: 40px;
    height: 35px;
    background-color: #1C3879;
    border: none;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    padding-left: 2%;
    box-shadow: .1vh .1vh .3vh #a1a1a177;
}

.navbar-collapse {
    justify-content: right;
    margin-left: 30px;
    margin-right: 25px;
    z-index: 3;
}

.user {
    border-radius: 50%;
    width: 40px;
}

.user-setting,
.logout,
.setting {
    display: flex;
    justify-content: space-between;
}

.navbar-nav {
    display: flex;
    align-items: center;
    gap: 5px;
}

.nav-item i {
    font-size: 20px;
    color: rgb(49, 49, 49);
}

.nav-item>* :active {
    background-color: rgba(176, 176, 176, 0.344);
    color: #000;
}

.dropdown-item {
    display: flex;
    justify-content: spnunitoace-between;
}

.dropdown-menu {
    margin-left: -70px;
}

/* end navbar */

.main {
    margin-top: 105px;
    display: flex;
}

.sidebar {
    width: 400px;
    height: 100vh;
    margin-top: -150px;
    padding: 180px 30px 10px;
    background-color: #fff;
    border-right: 1.5px solid rgba(0, 0, 0, 0.463);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sidebar-content {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.sidebar-content a {
    display: flex;
    align-items: center;
}

.sidebar-content a p {
    margin: 0;
    display: flex;
    align-items: center;
}

.account,
.product,
.transaction,
.report,
.setting {
    display: flex;
    justify-content: space-between;
    height: 30px;
    width: 100%;
    color: #000;
}

.left {
    display: flex;
    gap: 10px;
}

.sidebar p {
    font-size: 18px;
}

.sidebar .icon {
    font-size: 40px;
}

.sidebar-footer {
    display: flex;
    align-items: center;
    gap: 30px;
    border-top: 1.5px solid rgba(0, 0, 0, 0.567);
    padding-top: 10px;
    margin-top: 140px;
}

.sidebar-footer img {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    object-fit: cover;
}

.sidebar-footer .text {
    line-height: 10px;
}

.sidebar-footer p {
    font-size: 18px;
}

.sidebar-footer p:first-child {
    font-size: 18px;
    font-weight: 700;
}

/* sidebar */
.sub-content {
    display: flex;
    gap: 25px;
    width: 950px;
    border-bottom: 1px solid black;
    margin: 20px 30px;
    padding: 10px;
}

.sub-content a {
    text-decoration: none;
    color: #000;
}

.sub-content a:nth-child(3){
    color: #5874af;
}

.content-tabs {
    margin-left: 30px;
}

table th {
    text-align: center;
    padding: 10px 0px;
}
table tr{
    border-bottom: #000 solid 1px;
}
table td {
    width: 250px;
    text-align: center;
    padding-top: 10px;
}

table td img {
    width: 80px;
    height: 80px;
    object-fit: cover;
}

#label-order {
    background-color: #5874af;
    width: 75px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    color: white;
}

footer {
    display: flex;
    justify-content: end;
    padding-right: 50px;
    align-items: center;
    background-color: #1C3879;
    height: 50px;
    color: rgba(255, 255, 255, 0.508);
    position: relative;
    bottom: 0;
}

/* modal */
.modalform,
.modal {
  display: none;
  position: fixed;
  z-index: 5;
  padding-top: 2vh;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modalform-content,
.modal-content {
  background-color: #fefefe;
  margin: 150px auto;
  padding: 10px;
  border: 1px solid #888;
  width: 700px;
  border-radius: 7px;
}

.modalform-content
.modal-content  {
  margin: auto 0px;
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.form-pict {
  margin: 30px 18px 10px;

}

.cust-rec {
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 20px;
  color: #000000;
  width: fit-content;
}

.form-profile {
    display: flex;
    gap: 10px;
    margin: 30px 20px 0px;
    align-items: center;
}

.form-profile img {
    width: 50px;
    height: 50px;
    object-fit: cover;
}

.form-profile p{
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 20px;
    color: #000000;
    width: fit-content;
    margin: 0;
}

.btn-form {
    width: 98%;
    text-align: end;
    margin-bottom: 10px;
    margin-top: 10px;
}

.btn-form button {
    width: 80px;
    height: 35px;
    background-color: #5874af;
    color: #fff;
    font-weight: 700;
    font-family: 'Quicksand';
    border: none;
    border-radius: 7px;
}

#btn-form-rev {
    background-color: transparent;
    border: none;
    color: #4989d7;
}

.form-ratings{
    margin: 15px 20px 0px;
}

.form-review {
    margin: 35px 20px 0px;
}

.star-widget input{
    display: none; 
   }
   .star-widget label{
     font-size: 20px;
     color: rgb(237, 229, 229);
     float: left;
     padding: 5px 5px 5px 0px;
     transition: all 0.2s ease;
     float: right;
     transform: translate(-500px);
   }
   
   .star-widget input:not(:checked)~label:hover,
   .star-widget input:not(:checked)~label:hover ~label{
     color: #fd4;
   }
   input#rate-5:checked ~label,
   input#rate-4:checked ~label,
   input#rate-3:checked ~label,
   input#rate-2:checked ~label,
   input#rate-1:checked ~label{
     color: #fd4 ;
   }

   .form-ratings p,
   .form-review p {
    margin: 0;
    font-family: 'nunito';
    font-size: 18px;
    font-weight: 600;

   }

   textarea {
    padding: 5px;
    box-sizing: border-box;
   }