* {
    margin: 0;
    padding: 0;
  }
  
  a {
    text-decoration: none;
  }
  
  nav {
    position: relative;
    top: 2vw;
    height: fit-content;
    box-shadow: .1vh .1vh .5vh #5874af77;
  }
  
  .nvbr {
    width: 100%;
    height: 7vh;
    position: fixed;
    top: -0.5vh;
  }
  
  .navbar {
    height: 60px;
  }
  
  .nav-link {
    position: relative;
    color: #333333;
    z-index: 5;
  }
  
  .nav-link:hover {
    position: relative;
    color: #000000;
    z-index: 5;
  }
  
  .nav-link:active {
    position: relative;
    color: #000000;
    z-index: 5;
    background-color: transparent;
  }
  
  .logo {
    width: 100%;
    position: absolute;
    z-index: 1;
  }
  
  .logo img {
    width: 100%;
    height: 40px;
  }
  
  .title {
    width: fit-content;
    margin: 0vw auto 0px auto;
    position: relative;
    z-index: 2;
    text-align: center;
    margin-top: -3%;
  }
  
  .title p {
    font-family: 'Nunito';
    font-weight: 700;
    font-size: 2vw;
    color: #B5C5D9;
  }
  
  .search-web {
    margin-top: 0.5%;
    margin-left: 2%;
    position: relative;
    z-index: 2;
  }
  
  .layout-search {
    display: flex;
  }
  
  #search-web {
    width: 250px;
    height: 35px;
    background: #ffffff;
    border: 0.1vh solid #9f9f9f;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    padding-left: 6%;
    padding-right: 6%;
    font-size: 1.125vw;
    box-sizing: border-box;
    box-shadow: .1vh .1vh .3vh #a1a1a177;
    font-size: 16px;
    font-family: 'Poppins';
  }
  
  .search-web i {
    margin-left: -15%;
    font-size: 16px;
    color: rgb(255, 255, 255);
  }
  
  .layout-search button {
    width: 40px;
    height: 35px;
    background-color: #1C3879;
    border: none;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    padding-left: 2%;
    box-shadow: .1vh .1vh .3vh #a1a1a177;
  }
  
  .navbar-collapse {
    justify-content: right;
    margin-left: 30px;
    margin-right: 25px;
    z-index: 3;
  }
  
  .user {
    border-radius: 50%;
    width: 40px;
  }
  
  .user-setting,
  .logout,
  .setting {
    display: flex;
    justify-content: space-between;
  }
  
  .navbar-nav {
    display: flex;
    align-items: center;
    gap: 5px;
  }
  
  .nav-item i {
    font-size: 20px;
    color: rgb(49, 49, 49);
  }
  
  .nav-item>* :active {
    background-color: rgba(176, 176, 176, 0.344);
    color: #000;
  }
  
  .dropdown-item {
    display: flex;
    justify-content: spnunitoace-between;
  }
  
  .dropdown-menu {
    margin-left: -70px;
  }
  /* end navbar */

  /* start content */
  .container{
    margin-top: 100px;
  }
  .content{
    width: 90vw;
    height: 75vh;
    border: rgba(0, 0, 0, 0.300) solid 1px;
    border-radius: 10px;
    padding: 5px 20px;
  }
  .store{
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .store-icon{
    font-size: 30px;
  }
  .store p{
    font-size: 20px;
    margin-top: 10px;
  }
  .product{
    display: flex;
    justify-content: space-between;
  }
  .product img{
    width: 150px;
    height: fit-content;
    object-fit: cover;
  }
  .detail-product{
    line-height: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .left-row{
    display: flex;
    gap: 15px;
  }

  /* rating */
  .star-widget input{
   display: none; 
  }
  .star-widget label{
    font-size: 30px;
    color: rgb(237, 229, 229);
    float: right;
    padding: 10px;
    transition: all 0.2s ease;
  }
  
  .star-widget input:not(:checked)~label:hover,
  .star-widget input:not(:checked)~label:hover ~label{
    color: #fd4;
  }
  input#rate-5:checked ~label,
  input#rate-4:checked ~label,
  input#rate-3:checked ~label,
  input#rate-2:checked ~label,
  input#rate-1:checked ~label{
    color: #fd4 ;
  }

