* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

input {
    border-radius: 3px;
    border: 1px rgba(0, 0, 0, 0.5) solid;
}

textarea {
    border-radius: 3px;
    border: 1px rgba(0, 0, 0, 0.5) solid;
}

nav {
    position: relative;
    top: 2vw;
    height: fit-content;
    box-shadow: .1vh .1vh .5vh #5874af77;
}

.nvbr {
    width: 100%;
    height: 7vh;
    position: fixed;
    top: -0.5vh;
}

.navbar {
    height: 70px;
    margin-top: 10px;
}

.nav-link {
    position: relative;
    color: #333333;
    z-index: 5;
}

.nav-link:hover {
    position: relative;
    color: #000000;
    z-index: 5;
}

.nav-link:active {
    position: relative;
    color: #000000;
    z-index: 5;
    background-color: transparent;
}

.logo {
    width: 100%;
    position: absolute;
    z-index: 1;
}

.logo img {
    width: 200px;
    height: 40px;
}

.title {
    width: fit-content;
    margin: 0vw auto 0px auto;
    position: relative;
    z-index: 2;
    text-align: center;
    margin-top: -5%;
}

.title img {
    width: 10vw;
    height: 9.5vh;
}

.search-web {
    margin-top: 0.5%;
    margin-left: 2%;
    position: relative;
    z-index: 2;
}

.layout-search {
    display: flex;
}

#search-web {
    width: 250px;
    height: 35px;
    background: #ffffff;
    border: 0.1vh solid #9f9f9f;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    padding-left: 6%;
    padding-right: 6%;
    font-size: 1.125vw;
    box-sizing: border-box;
    box-shadow: .1vh .1vh .3vh #a1a1a177;
    font-size: 16px;
    font-family: 'Poppins';
}

.search-web i {
    margin-left: -15%;
    font-size: 16px;
    color: rgb(255, 255, 255);
}

.layout-search button {
    width: 40px;
    height: 35px;
    background-color: #1C3879;
    border: none;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    padding-left: 2%;
    box-shadow: .1vh .1vh .3vh #a1a1a177;
}

.navbar-collapse {
    justify-content: right;
    margin-left: 30px;
    margin-right: 25px;
    z-index: 3;
}

.user {
    border-radius: 50%;
    width: 40px;
}

.user-setting,
.logout,
.setting {
    display: flex;
    justify-content: space-between;
}

.navbar-nav {
    display: flex;
    align-items: center;
    gap: 5px;
}

.nav-item i {
    font-size: 20px;
    color: rgb(49, 49, 49);
}

.nav-item>* :active {
    background-color: rgba(176, 176, 176, 0.344);
    color: #000;
}

.dropdown-item {
    display: flex;
    justify-content: spnunitoace-between;
}

.dropdown-menu {
    margin-left: -70px;
}

/* end navbar */

.main {
    margin-top: 105px;
    display: flex;
}

.sidebar {
    width: 400px;
    height: 100vh;
    margin-top: -150px;
    padding: 180px 30px 10px;
    background-color: #fff;
    border-right: 1.5px solid rgba(0, 0, 0, 0.463);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sidebar-content {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.sidebar-content a {
    display: flex;
    align-items: center;
}

.sidebar-content a p {
    margin: 0;
    display: flex;
    align-items: center;
}

.account,
.product,
.transaction,
.report,
.setting {
    display: flex;
    justify-content: space-between;
    height: 30px;
    width: 100%;
    color: #000;
}

.left {
    display: flex;
    gap: 10px;
}

.sidebar p {
    font-size: 18px;
}

.sidebar .icon {
    font-size: 40px;
}

.sidebar-footer {
    display: flex;
    align-items: center;
    gap: 30px;
    border-top: 1.5px solid rgba(0, 0, 0, 0.567);
    padding-top: 10px;
    margin-top: 140px;
}

.sidebar-footer img {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    object-fit: cover;
}

.sidebar-footer .text {
    line-height: 10px;
    text-align: start;
}

.sidebar-footer p {
    font-size: 18px;
}

.sidebar-footer p:first-child {
    font-size: 18px;
    font-weight: 700;
}

/* sidebar */
.sub-content {
    display: flex;
    gap: 25px;
    width: 950px;
    border-bottom: 1px solid black;
    margin: 20px 30px;
    padding: 10px;
}

.sub-content a {
    text-decoration: none;
    color: #000;
}

.storeops-header{
    display: flex;
    gap: 10px;
    height: fit-content;
    width: 90%;
    margin-left: 30px;
    padding-bottom: 5px;
    margin-bottom: 10px;
}
.title-header{
    line-height: 10px;
}

.storeops-content{
    width: 920px;
    height: 460px;
    margin: auto;
    border: 0.5px solid black;
    border-radius: 5px;
}
.scedhule-head{
    display: flex;
    padding: 15px 20px 5px;
    border-bottom: 0.5px solid black;
    margin-left: 25px;
    margin-right: 25px;
}
.scedhule-head h6{
    margin-right: 150px;
}
.scedhule-head h6:nth-child(2){
    margin-right: 260px;
}

.sunday, 
.monday, 
.tuesday,
.wednesday,
.thursday,
.friday,
.saturday{
    display: flex;
    align-items: center;
    margin-left: 40px;
    margin-top: 10px;
}
.sunday p{
    margin-right: 130px;
}
.monday p{
    margin-right: 124px;
}
.tuesday p{
    margin-right: 127px;
}
.wednesday p{
    margin-right: 102.5px;
}
.thursday p{
    margin-right: 120px;
}
.friday p{
    margin-right: 141px;
}
.saturday p{
    margin-right: 121px;
}
.scedhule input{
    width: 250px;
    margin-right: 50px;
    padding: 0px 10px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 30px;
  }
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 23px;
    width: 23px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked+.slider {
    background-color: #5874AF;
  }
  
  input:focus+.slider {
    box-shadow: 0 0 1px #5874AF;
  }
  
  input:checked+.slider:before {
    -webkit-transform: translateX(23px);
    -ms-transform: translateX(23px);
    transform: translateX(23px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  .save{
    width: 80px;
    padding: 2px;
    background-color:#5874AF;
    color: white;
    border-radius: 5px;
    border: 0.5px solid black;
    margin-left: 800px;
    margin-top: 15px;
  }